
#time{

    font-size:20px;
    background-color:red;
    width:35%;
}

#shape{

 height:200px;
 width:200px;
 background-color: red;
 display : none;
 position:relative;
 top :100px;
 left:200px;

}




}